.timeline-with-icons {
    border-left: 2px solid #AFABAB;
    position: relative;
    list-style: none;
  }
  
  .timeline-with-icons .timeline-item {
    position: relative;
  }
  
  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  /* AFECTA A LAS BOLITAS*/
  .timeline-with-icons .timeline-icon {
    /*
    position: absolute;
    left: -48px;
    background-color: #AFABAB;
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
 
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;*/
    position: absolute;
    left: -63px;
    top: -15px;
    background: #fff;
    color: #999999;
    display: block;
    width: 60px;
    height: 60px;
    
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 50%;
    text-align: center;
    border: 5px solid #AFABAB;
    line-height: 45px;
    font-size: 15px;
    float: left;
  }

