
        <%- include('../includes/head.ejs') %>


        <div class="container">
        
            <%- include('../includes/sidebar.ejs', {
                ubicacion: ubicacion,
            }) %>

            
            <section class="home-section ">
                <div class="w-100">
                    <div>                    
                    
                        <% if (profile_C.length > 0) { %>
                            <% for (let c of profile_C) { %>
                                <div row="col-sm-2 col-md-2 col-lg-2">
                                    <%- include('perfil.form.ejs', {
                                        profile_C: c,
                                        
                                    }) %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <h3>No hay usuarios registradas</h3>
                        <% } %>
                    </div>
                </div>
            </section>
    </div>

        <script src="/js/bootstrap.bundle.min.js"> </script>
        <script src="/js/sidenav.js"></script>
    </body>
</html>