<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <header>
            <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">-->
            <!--<link rel="stylesheet" href="/public/css/form-validation.css" />-->
            <link rel="stylesheet" href ="/css/bootstrap.min.css"/>
            <link rel="stylesheet" type= "text/css" href ="/css/interfaz.css"/>
            <link rel="stylesheet" href="/images/usuario.png"/>
            <title>Kiara Bienes Raices</title>
        </header>
    </head>
<body class="bg-light">
  <%- include('../includes/navbar.ejs', {
    isLoggedIn: isLoggedIn,
    user: user,
}) %>