<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <header>
            <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">-->
            <!--<link rel="stylesheet" href="/public/css/form-validation.css" />-->
            <link rel="stylesheet" href ="/css/bootstrap.min.css"/>
            <link rel="stylesheet" type= "text/css" href ="/css/interfaz.css"/>
            <link rel="stylesheet" href="/images/usuario.png"/>
            <title>Kiara Bienes Raices</title>
        </header>
    </head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/inicio"><strong>Kiara</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              <a class="nav-link" href="#">¿Quienes somos?</a>
              <a class="nav-link" href="#">Favoritos</a>
              <a class="nav-link" href="/inicio/perfil">Perfil</a>
              <!--add button-->
              <button type="button" class="btn btn-secondary"><a href="/user/login">Iniciar sesión</a></button>
            </div>
          </div>
        </div>
      </nav>
    