  <nav id="navbar" class="navbar">
    <ul>
      <li><a href="/inicio">Inicio</a></li>
      <li class="dropdown"><a href="#"><span>Acerca de nosotros</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a class="active" href="/inicio/QuienesSomos">Acerca de nosotros</a></li>
          <li><a href="#">Equipo</a></li>
        </ul>
      </li>
      <li><a href="/inicio/propiedades/renta">Rentar</a></li>
      <li><a href="#">Comprar</a></li>
      <li><a href="#">Contacto</a></li>
      <% if(isLoggedIn) {%> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/usuario.png" class="img-fluid rounded-circle avatar mr-2"
                    alt="Usuario" width="30" />
                    Usuario <%= user%> 
          </a>
          <ul class="dropdown-menu text-dark">
            <li><a class="dropdown-item text-dark" href="/user/perfil">Perfil</a></li>
            <li><a class="dropdown-item text-dark" href="/user/logout">Cerrar sesion</a></li>
            
          </ul>
        </li>
    <% } else {%> 
      <li class="nav-item">
        <li><a class="getstarted" href="/user/login">Iniciar Sesion</a></li>
      </li>
    <% }%> 
   </ul> 
   <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
 </div>
</header>