<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>¿Quienes somos?</h2>
            <p>Somos una empresa dedicada en buscar los mejores espacios para ti y tu familia, en donde te puedas desarrollar y crecer es un espacio seguro y tranquilo. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/inicio">Home</a></li>
          <li>¿Quienes somos?</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="75" class="purecounter">0</span>
                  <p>Clientes felices</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                  <p>Casas vendidas</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="6" class="purecounter">0</span>
                  <p>Años de experiencia</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                  <p>Reconocimientos</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="assets/img/casa.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=IzzEudk_-lw" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>Kiara la mejor opción para comprar tu casa.</h3>
            <p class="fst-italic">
              En Kiara nos preocupamos por la comodidad de neustros clientes por ello siempre buscamos la mejor opción para ti.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Tenemos el mejor asesoramiento.</li>
              <li><i class="bx bx-check-double"></i> Cumplimos con tus expectativas.</li>
              <li><i class="bx bx-check-double"></i> Tenemos casas en toda la zona bajío.</li>
              <li><i class="bx bx-check-double"></i> Tenemos cada casa para tu propia necesidad.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Historia</h2>
          <p>Todo incia con la venta de un terreno en 15 días.</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="assets/img/work-process-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Valores de kiara.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Transparencia.</li>
              <li><i class="bi bi-check"></i> Ética.</li>
              <li><i class="bi bi-check"></i> Conocimiento.</li>
              <li><i class="bi bi-check"></i> Profesionalismo.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/work-process-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Nuestra vision</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="assets/img/work-process-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Nuestra Mision</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
            <ul>
              <li><i class="bi bi-check"></i> Hacer la DIFERENCIA dando al cliente una mejor herramienta de rastreabilidad en sus operaciones que ninguna 
                otra inmobiliaria tiene.</li>
              <li><i class="bi bi-check"></i> Facilitar al cliente con el uso de la tecnología la creación de su expediente haciendo cada vez más grata
                su experiencia de renta o compra de inmueble.</li>
              <li><i class="bi bi-check"></i> Tener un mayo alcance en las personas.</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Work Process Section -->

    <!-- ======= Our Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Skills</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>

            <div class="skills-content">

              <div class="progress">
                <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">CSS <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JavaScript <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Photoshop <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section>

</div>
<div class="swiper-pagination"></div>
</div>

</div>
</section>

 <!-- ======= Our Clients Section ======= -->
 <section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Our Clients</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="https://media.istockphoto.com/photos/twilight-exterior-of-home-and-landscape-picture-id168325352" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Our Clients Section -->

</main><!-- End #main -->