<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>¿Quienes somos?</h2>
            <p>Somos una agencia inmobiliaria especializada en la compra y renta de inmuebles que nació en el año 2016. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/inicio">Home</a></li>
          <li>¿Quienes somos?</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="75" class="purecounter">0</span>
                  <p>Clientes felices</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                  <p>Casas vendidas</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="6" class="purecounter">0</span>
                  <p>Años de experiencia</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  
                  <p>Certificacion y Licencia Inmobiliaria</p>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="/images/casa.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=IzzEudk_-lw" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>KIARA la mejor opción para comprar tu casa.</h3>
            <p class="fst-italic">
              Contamos con:
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> CERTIFICACION EC 0110 DE ASESORIA EN COMERCIALIZACION DE BIENES INMUEBLES</li>
              <li><i class="bx bx-check-double"></i> LICENCIA INMOBILIARIA AI-00466</li>
              <li><i class="bx bx-check-double"></i> ESTAMOS AFILIADOS A LA ASOCIACION AMPI (Asociación Mexicana de Profesionales Inmobiliarios)</li>
              
            </ul>
            <div class="row justify-content-center">
              <div class="col-lg-3 video-box align-self-baseline position-relative">
                <img src="/images/AMPI.png"  class="img-fluid" alt="">            
              </div>

              <div class="col-lg-3 video-box align-self-baseline position-relative">
                <img src="/images/AMSI.png"  class="img-fluid" alt="">            
              </div>

              <div class="col-lg-3 video-box align-self-baseline position-relative">
                <img src="/images/conocer.png"  class="img-fluid" alt="">            
              </div>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Historia</h2>
          <p>Todo inicio con la venta de un terreno en 15 dias.... a partir de ahí descubrimos un nuevo camino en el cual podiamos satisfacer a nuestros clientes a través de encontrar justo el inmueble que necesitaban o requerian</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/images/equipo_kiara.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Valores de KIARA Bienes Raices.</h3>
            <p class="fst-italic">
              Nuestras acciones son guiadas por los valores que nos rigen:
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Transparencia.</li>
              <li><i class="bi bi-check"></i> Ética.</li>
              <li><i class="bi bi-check"></i> Conocimiento.</li>
              <li><i class="bi bi-check"></i> Profesionalismo.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/images/casa.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Nuestra vision</h3>
            <p class="fst-italic">
              Es importante que sepas que nuestra gran pasión es el servicio y esto lo acompañamos de un genuino interés por brindarlo de forma ética, responsable y comprometida ya que nosotros entendemos completamente el valor de tu patrimonio
            </p>
            <p>
              Gran parte de nuestro éxito, por otro lado, son las alianzas que tenemos con otras inmobiliarias, lo cual hace exponencial nuestro alcance
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/images/casa.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Nuestra Mision</h3>
            <p>Nuestro interés es dar la mayor exposición comercial posible a los inmuebles que nuestros clientes ponen en nuestras manos a fin de lograr su comercialización. Esto lo acompañamos de asesoría inmobiliaria desde el momento en que tomamos el inmueble hasta el momento en que es entregado al comprador/arrendatario final.</p>
            <ul>
              <li><i class="bi bi-check"></i> Hacer la DIFERENCIA dando al cliente una mejor herramienta de rastreabilidad en sus operaciones que ninguna 
                otra inmobiliaria tiene.</li>
              <li><i class="bi bi-check"></i> Facilitar al cliente con el uso de la tecnología la creación de su expediente haciendo cada vez más grata
                su experiencia de renta o compra de inmueble.</li>
              <li><i class="bi bi-check"></i> Tener un mayo alcance en las personas.</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Work Process Section -->

   

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>Servicios Adicionales</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Trámites y Gestoria</a></h4>
                <p class="description">
                <ul class="description">
                 <li> Trámite de crédito hipotecario bancario e Infonavit</li>
                 <li> Trámites municipales</li>
                 <li> Renovaciones de contrato de arrendamiento</li>
                 <li> Trámite de número oficial</li>
                 <li> Trámite de alineamiento</li>
                 <li> Cambio de nombre en servicios como luz y agua</li>
                 <li> Entre otros</li>
                </ul>
              
                </p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Tu tranquilidad es nuestra responsabilidad</a></h4>
              <p class="description">Por lo que brindamos asesoría y proceder legal acerca de todos los asuntos que tengan que ver con el condominio y sus procesos:</p>
              <p class="description">
                <ul class="description">
                  <li>	Elaboración de actas</li>
                  <li>	Presentación de asambleas</li>
                  <li>	Defensa legal para la asociación de colonos</li>
                  <li>	Representación con autoridades</li>
                  <li>	Protocolización de actas ante notaria</li>
                  <li>	Demandas para residentes morosos</li>
                </ul>
               

              </p>
            </div>
          </div>

        

          <div class="col-md-12">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Administración de Inmuebles:</a></h4>
              <p class="description">Administramos desde propiedades pequeñas hasta unidades condominales. <br> Nuestro servicio consiste en administrar y controlar los recursos tangibles e intangibles del condominio buscando como objetivo mantener y mejorar la plusvalía de tu hogar. </p>
              <p class="description"> Atendemos las necesidades de los residentes con acciones preventivas y correctivas para el correcto funcionamiento y sana convivencia entre los involucrados como sigue:</p>
              <p class="description">
                <ul class="description">
                  <li>Administración de recursos</li>	
                  <li> Convocatorias a asambleas</li> 
                  <li> Control de gastos</li> 
                  <li> Envío de estados de cuenta mensual</li> 
                  <li> Comunicación efectiva y avisos importantes</li> 
                  <li> Reservaciones</li> 
                  <li> Manejo de proveedores</li> 
                  <li> Seguimiento a cobro de cuotas de mantenimiento</li> 
                  <li> Elaboración y seguimiento de reglamento</li> 
                  <li> Trámites y gestiones ante dependencias de gobierno</li> 
                  <li> Difusión y ejecución de acuerdos</li> 
                  <li>  Reuniones de trabajo con comité de vigilancia y mesa directiva</li> 
                  <li> Establecimiento y ejecución de bitácoras</li> 
                  <li> Elaboración de directorio general del condominio</li> 
                  <li> Atención y solución a quejas y sugerencias.</li> 
                  <li> Contabilidad de la asociación</li> 
                  <li> Declaración de impuestos (costo adicional)</li> 
                  <li> Alta ante SAT</li> 
                  <li> Reporte de ingresos y egresos</li> 
                  <li> Manejo de cuentas</li> 
                  <li> Cobranza</li> 
                  <li> Convenios</li> 
                  <li> Estados de cuenta</li> 

                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Basados en alianzas con proveedores expertos en su rama</a></h4>
              <p class="description">Te ofrecemos mantener en aptas condiciones las instalaciones de tu condominio:</p>
              <p class="description">
                <ul class="description">
                  <li>	Mantenimiento en general</li>
                  <li>	Mantenimiento de áreas comunes</li>
                  <li>	Mantenimiento de áreas verdes</li>
                  <li>	Mantenimiento de albercas y fuentes</li>
                </ul>
                

              </p>
            </div>
          </div>
         
      

      </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->