<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>¿Quienes somos?</h2>
            <p>Somos una agencia inmobiliaria especializada en la compra y renta de inmuebles que nació en el año 2016. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/inicio">Home</a></li>
          <li>¿Quienes somos?</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="75" class="purecounter">0</span>
                  <p>Clientes felices</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                  <p>Casas vendidas</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="6" class="purecounter">0</span>
                  <p>Años de experiencia</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  
                  <p>Certificacion y Licencia Inmobiliaria</p>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="/images/casa.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=IzzEudk_-lw" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>KIARA la mejor opción para comprar tu casa.</h3>
            <p class="fst-italic">
              Contamos con:
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> CERTIFICACION EC 0110 DE ASESORIA EN COMERCIALIZACION DE BIENES INMUEBLES</li>
              <li><i class="bx bx-check-double"></i> LICENCIA INMOBILIARIA AI-00466</li>
              <li><i class="bx bx-check-double"></i> ESTAMOS AFILIADOS A LA ASOCIACION AMPI (Asociación Mexicana de Profesionales Inmobiliarios)</li>
              
            </ul>
            <div class="row justify-content-center">
              <div class="col-lg-3 video-box align-self-baseline position-relative">
                <img src="/images/AMPI.png"  class="img-fluid" alt="">            
              </div>

              <div class="col-lg-3 video-box align-self-baseline position-relative">
                <img src="/images/AMSI.png"  class="img-fluid" alt="">            
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Historia</h2>
          <p>Todo inicio con la venta de un terreno en 15 dias.... a partir de ahí descubrimos un nuevo camino en el cual podiamos satisfacer a nuestros clientes a través de encontrar justo el inmueble que necesitaban o requerian</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/images/equipo_kiara.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Valores de KIARA Bienes Raices.</h3>
            <p class="fst-italic">
              Nuestras acciones son guiadas por los valores que nos rigen:
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Transparencia.</li>
              <li><i class="bi bi-check"></i> Ética.</li>
              <li><i class="bi bi-check"></i> Conocimiento.</li>
              <li><i class="bi bi-check"></i> Profesionalismo.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/images/casa.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Nuestra vision</h3>
            <p class="fst-italic">
              Es importante que sepas que nuestra gran pasión es el servicio y esto lo acompañamos de un genuino interés por brindarlo de forma ética, responsable y comprometida ya que nosotros entendemos completamente el valor de tu patrimonio
            </p>
            <p>
              Gran parte de nuestro éxito, por otro lado, son las alianzas que tenemos con otras inmobiliarias, lo cual hace exponencial nuestro alcance
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/images/casa.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Nuestra Mision</h3>
            <p>Nuestro interés es dar la mayor exposición comercial posible a los inmuebles que nuestros clientes ponen en nuestras manos a fin de lograr su comercialización. Esto lo acompañamos de asesoría inmobiliaria desde el momento en que tomamos el inmueble hasta el momento en que es entregado al comprador/arrendatario final.</p>
            <ul>
              <li><i class="bi bi-check"></i> Hacer la DIFERENCIA dando al cliente una mejor herramienta de rastreabilidad en sus operaciones que ninguna 
                otra inmobiliaria tiene.</li>
              <li><i class="bi bi-check"></i> Facilitar al cliente con el uso de la tecnología la creación de su expediente haciendo cada vez más grata
                su experiencia de renta o compra de inmueble.</li>
              <li><i class="bi bi-check"></i> Tener un mayo alcance en las personas.</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Work Process Section -->

   

</main><!-- End #main -->