<!--Insertar NavBar barra de opciones-->
     <!---->
    
    <!-- Modififcacion imagen
    <div>
      <div id="background">
        <div><img src="/images/casa1.jpg" class="img-fluid" class="stretch" alt ="..." style="display: block"></div>
      </div>
    </div> -->
  <!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container p-5" data-aos="fade-up">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Bienvenido a tu hogar</h1>
    <h2>Cumpliendo y realizando sue침os</h2>
  </div>
  <div class="container p-5">
        <div class="row">
          <div class="col-sm-12 col-md-1 col-lg-1"></div>
          <div class="col-sm-12 col-md-10 col-lg-10"><p class="h3 text-light text-center p-5"></p></div>
          <div class="col-sm-12 col-md-1 col-lg-1"></div>   
        </div>   
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-2"></div>
          <div class="col-sm-12 col-md-7 col-xl-8">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Ingresa ubicaci칩n o caracteristica" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-7 col-xl-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-xl-2"></div>
            <div class="col-sm-12 col-md-7 col-xl-8">
            
               
                  <button class="btn btn-secondary dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tipo
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Residencial</a></li>
                    <li><a class="dropdown-item" href="#">Laboral</a></li>
                    <li><a class="dropdown-item" href="#">Terrenos</a></li>
                  </ul>
                  <button class="btn btn-secondary dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Estado
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                <button class="btn btn-secondary dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Operaci칩n
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Venta</a></li>
                  <li><a class="dropdown-item" href="#">Renta</a></li>
                </ul>
              </div>
            <div class="col-sm-12 col-md-3 col-xl-2"></div>
        </div>
 
  </div>
</section><!-- End Hero -->
  
<section id="about" class="about">
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="p-5">
              <div class="card">
                <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="p-5">
              <div class="card">
                <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="p-5">
              <div class="card">
                <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="fade-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>Our Services</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->
  <!--A침adir tarjetas
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="container p-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="container p-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
      </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="container p-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>   
  </div>-->
</section><!-- End About Section -->
  
    