<%- include('../includes/head.ejs', {
    isLoggedIn: isLoggedIn,
    user: user,
}) %>

<h1>Listado de usuarios</h1>
<div id="Usuarios">
    <% if (usuarios.length > 0) { %>
        <div class="row">
            <% for (let u of usuarios) { %>
                <div class="col s12 m4 l3">
                    <div class="card" style="width: 21rem;">
                        <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title"><%= usuario.nombre %></h4>
                          
                          
                          <p class="card-text">XXX + <%= usuario.nombre %><</p>
                          <a href="fffff" class="btn btn-primary">Seguimiento</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h3>No hay clientes registrados.</h3>
    <% } %>
</div>

