<main id="main">
<form action="/user/login" method="POST">
<div class="container-fluid p-5">
    <div class="row bg-white ">
        <div class="col sm-6 bg-white text-white ">
        </div>
        <div class="col sm-6 bg-white">
          </div>
      </div>
      <div class="col sm-6 bg-whitetext-white ">
      </div>
</div>
  <div class="container-fluid">
    <div class = "row">
      <div class="col sm-12 lg-12 bg-white">
        <div class="container-fluid">
            <div class=" fixed-center text-center img-fluid">
              <img src="../images/logo.png" clas="img-fluid. max-width: 100% height: auto;">
            </div>
         </div>       
      </div>
    </div>
    <div class = "row justify-content: center"> 
    
     <div>
      
        <div class="container-fluid col-12 col-m-6 col-lg-5 bg-light">
         
            <p><%= info %></p>
          
              <form action="#" class="col sm -5 border p-3 form ">
                <div class=" col sm-10 form-group">
                  <label for="username">Nombre de usuario</label>
                  <input type="text" name="username" id="username" class="form-control">
                  <!--<input type="email" name="email" id="email" class="form-control">-->
                </div>
                <div class=" col sm-10 form-group">
                  <label for="contra">Contraseña</label>
                  <input type="password" name="contra" id="contra" class="form-control">
                </div>
                <br>
                <div class="row">
                  <div class="d-flex justify-content-center flex-nowrap">
                  <button type="button" class="btn btn-success"> 
                    <input class="btn btn-success" type="submit" id="enviar" name="enviar" value="Entrar">
                  </button>                 
                </div>     
              </div>  
              
              <br>
              <div class="row">
                <div class="d-flex justify-content-center flex-nowrap">
                  <a hover="link-light" href="/user/new/cliente" class="link-blue">¿No tienes cuenta? Registrate</a>
                </div>     
              </div>   
              <br> 
              <br>         
              <br> 
              <br> 
            </form>
           
         </div>       
      </div>
      
    </div>
         
  </div>
 
   <div class="container-fluid">
    <div class="row bg-white ">
        <div class="col sm-6 bg-white">
    
          </div>
      </div>
      
      <div class="col sm-6 bg-whitetext-white ">
       
      </div>
</div> 
</form>
</main>