<!--

<script>
    const accion_asincrona = () => {
        let valor_busqueda = document.getElementById('buscar').value;

        //función que manda la petición asíncrona
        fetch('/propiedad/buscar/' + valor_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(result => {
            return result.json(); //Regresa otra promesa
        }).then(data => {
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            console.log(data);
            let html = '';
            if (data.length > 0) { 
                html += '<div class="row">';
                    for (let robot of data) { 
                        html += '<div class="col s12 m4 l3">';
                        html += '<div class="card">';
                        html += '<div class="card-image waves-effect waves-block waves-light">';
                        html += '<img class="activator" src="'+ robot.imagen + '">';
                        html += '</div>';
                        html += '<div class="card-content">';
                        html += '<span class="card-title activator grey-text text-darken-4">' + robot.nombre + '<i class="material-icons right">more_vert</i></span>';
                        html += '<p><a href="/robots/edit/' +  robot.id + '"><i class="tiny material-icons">edit</i> Editar</a></p>';
                        html += '</div>';
                        html += '<div class="card-reveal">';
                        html += '<span class="card-title grey-text text-darken-4">' + robot.nombre + '<i class="material-icons right">close</i></span>';
                        html += '<p>' + robot.descripcion + '</p>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                    } 
                html += '</div>';
            } else { 
                html += '<h3>No hay propiedades</h3>';
            } 
            document.getElementById('resultados').innerHTML = html;
        }).catch(err => {
            console.log(err);
        });

    }
    document.getElementById('buscar').onkeyup = accion_asincrona;
</script>

-->