<br>
<br>
<br>
<br>
<!-- Templete fluid images -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="/css/fluid-gallery.css">

<div class="px-3">
    <h4><strong> Puerta real</strong></h4>
    <div class="row px-3">AV PUERTA REAL, Fraccionamiento Puerta Real, Corregidora, Querétaro .</div>
    <div class="row px">
        <div class="col-6 col-sm-3">
            <button type="button" class="btn btn-success"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                Construida
            </button>
        </div>
    </div>
</div>
<div>
<div class="tz-gallery">

    <div class="row">

        <div class="col-sm-12 col-md-4">
            <a class="lightbox" href="/images/casa.jpg">
                <img src="/images/casa.jpg" alt="Bridge">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="/images/casa.jpg">
                <img src="/images/casa.jpg" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="/images/casa.jpg">
                <img src="/images/casa.jpg" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-8">
            <a class="lightbox" href="/images/casa.jpg">
                <img src="/images/casa.jpg" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="/images/casa.jpg">
                <img src="/images/casaprincipal.jpg" alt="Rails">
            </a>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <hr>
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="item">
                            <img src="/images/favicon.ico">  150 a 272 m² tot.
                            </img>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img src="/images/area/favicon.ico"> 150 a 272 m² tot.
                    </img>
                </div>
                <div class="col-4">
                    <img src="/images/area/favicon.ico"> 150 a 272 m² tot.
                    </img>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-secondary btn-lg"><h3>Desde $2,000,000</h3></button>
        </div>
    </div>
</div>
<div class="container"><strong>Descripcion: </strong>
<p>Aqui encontraras la mejor bienvienda con un buen diseño </p>
</div>
<div class="container"><strong>Caracterisitcas: </strong>
    <p>Recamaras: </p>
    <p>Baños: </p>
    <p>Sala comedor: </p>
    <p>Estacionamiento: </p>
    <p>Forma del terreno: </p>
    <p><strong>Medidas: </strong></p>
    <p>Frente: </p>
    <p>Fondo: </p>

    </div>
<br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
