<style>
*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
	background-color: #000000;
}
/*Card containing 2 cards*/
.card0 {
	margin: 40px 12px 15px 12px;
	border: 0;
}

/*Left Side card*/
.card1 {
	margin: 0;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 0px;
	background: #263238;
	height: 100%;
}
</style>
<div class="container-fluis">
    <div class="row justify-content-center">
		<div class="col-12 col-lg-11">
			<div class="card card0 rounded-0">
            </div>
        </div>
    </div>
</div>