<div class="container-fluid">
    <div class="row bg-white ">
        <div class="col sm-6 bg-white text-white ">
        </div>
        <div class="col sm-6 bg-white">
          </div>
      </div>
      <div class="col sm-6 bg-whitetext-white ">
      </div>
</div>
  <div class="container-fluid">
    <div class = "row">
      <div class="col sm-12 lg-12 bg-white">
        <div class="container-fluid">
            <div class=" fixed-center text-center img-fluid">
              <img src="../images/logo.png" clas="img-fluid. max-width: 100% height: auto;">
            </div>
         </div>       
      </div>
    </div>
    <div class = "row justify-content: center"> 
     <div>
        <div class="container-fluid col-12 col-m-6 col-lg-5 bg-light">
              <form action="#" class="col sm -5 border p-3 form ">
                <div class=" col sm-10 form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class=" col sm-10 form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control">
                </div>
              
                <button type="submit" class="btn btn-primary  text-white">
                  <a hover="link-light" href="pagina_inicio.html" class="link-light">Iniciar Sesion como cliente</a>
                </button>
  
                <button type="submit" class="btn btn-danger text-white">
                  
                  <a hover="link-light" href="pagina_inicio.html" class="link-light">Iniciar Sesion como Asesor</a>
  
                </button>
  
                <button type="button" class="btn btn-success">
                
               
                  <a hover="link-light" href="/inicio/registrarse" class="link-light">Registrarse</a>
                </button>
  
              </form>
           
         </div>       
      </div>
      
    </div>
         
  </div>
 
   <div class="container-fluid">
    <div class="row bg-white ">

        <div class="col sm-6 bg-white text-white ">
          <h1>Hola</h1>
        </div>
        <div class="col sm-6 bg-white">
    
          </div>
      </div>
      
      <div class="col sm-6 bg-whitetext-white ">
       
      </div>

</div> 