<%- include('../includes/head.ejs') %>
    <body>

      

        <div class="container">
        
            <%- include('../includes/sidebar.ejs', {
                ubicacion: ubicacion,
            }) %>            

           
            <section class="home-section ">
                <div class="w-100">

                            <br>
                            
                              
                           
                            
                                <% if (casas_V.length > 0) { %>
                                    <div class="row">
                                        <% for (let c of casas_V) { %>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <%- include('card.ejs', 
                                                {
                                                    casas_V: c,
                                                    ubicacion: ubicacion,
                                                    
                                                }) %>
                                            </div>
                                        <% } %>
                                    </div>
                                <% } else { %>
                                    <h3>No hay casas registradas</h3>
                                <% } %>
                       

                      
                </div>
            </section>
        

        <script src="/js/bootstrap.bundle.min.js"> </script>
        <script src="/js/sidenav.js"></script>
    </body>
    
    
    </html>