<%- include('../includes/head.ejs') %>
    <body>

        <%- include('../includes/navbar.ejs', {
            isLoggedIn: isLoggedIn,
            user: user,
        }) %>

        <div class="container">
        
            <%- include('../includes/sidebar.ejs', {
                ubicacion: ubicacion,
            }) %>            

           
            <section class="home-section ">
                <div class="w-100">

                            <br>
                            
                              
                           
                            
                            <% if (numdocs.length> 0) { %>
                                <div class="row">
                                    
                                    <% for (let r of numdocs) { %>
                                       
                                            <option value="1"><%= r.Nombre%> </option>
                                       
                                    <% } %>
                                </select>
                                </div>
                            
                            <% } else { %>
                                <h3>No hay robots registrados.</h3>
                            <% } %>
                       

                      
                </div>
            </section>
        

        <script src="/js/bootstrap.bundle.min.js"> </script>
        <script src="/js/sidenav.js"></script>
    </body>
    
    
    </html>