<%- include('../includes/head.ejs') %>
    <body>

      

        <div class="container">
        
            <%- include('../includes/sidebar.ejs', {
                ubicacion: ubicacion,
            }) %>            

           
            <section class="home-section ">
                <div class="w-100">


                            <br>
                            
                              
                           
                            <div class="container-fluid col-12 col-m-6 col-lg-10 bg-white border p-3"> 
                                <h5> EXPEDIENTE:  <%= numdocs.tipoExpCliente%>  </h5>
                                <div class="row fixed-center">                            
                                <% if (numdocs.length> 0) { %>

                                        <% for (let r of numdocs) { %>
                                            <p></p>
                                            <label class=" fixed-center input-group-btn">
                                                <span class="text-center container-fluid btn btn-light btn-file" id="CURP_Personal">
                                                    <%= r.Nombre%>   dando click en Examinar
                                               <input accept=".jpg,.png,.jpeg,.gif" class="hidden fixed-center" name="banner" type="file" id="CURP_Personal">
                                                </span>
                                            </label>
                                           </p>
                                        <% } %>
                                   
                                <% } else { %>
                                    <h3>No hay casas registradas</h3>
                                <% } %>
                       

                            </div>
                        </div>
                </div>
            </section>
        </div>
        

        <script src="/js/bootstrap.bundle.min.js"> </script>
        <script src="/js/sidenav.js"></script>
    </body>
    
    
    </html>