<div class=" container-fluid fixed-center tab-content" id="myTabContent" >
    <div class="  fixed-center tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

        <!-- Section: Timeline -->
        <br>
        <br>
        <br>
     
        <div class="container-fluid col-12 col-m-12 col-lg-12 bg-white border p-3"> 
            <div class="row fixed-center">
              
                    <h5 class="text-center">EXPEDIENTE PERSONAL</h5>
              
            </div>
            <div class="row fixed-center" class="container-fluid">
              <div class="container-icono" class="container-fluid" > 
                <p class="text-center text-warning" class="container-fluid">Pendiente                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:rgba(255, 208, 0, 0.959)" class="bi bi-clock-fill" viewBox="0 0 16 16">
                <path  class="container-fluid" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                  </svg></p>
                </div>
          
             </div>
             <div class="row " style="align-content: center">
                
                <div class="container-fluid  col-lg-10 bg-white border p-1"> 
                    <p class="text-center fixed-center" style="font-size:medium"><label for="banner">  </label>
                        <div class=" fixed-center input-group">
                            <label class=" fixed-center input-group-btn">
                                <span class="text-center container-fluid btn btn-light btn-file" id="CURP_Personal">
                                  Agregue su CURP: dando click en Examinar
                               <input accept=".jpg,.png,.jpeg,.gif" class="hidden fixed-center" name="banner" type="file" id="CURP_Personal">
                                </span>
                            </label></p>
            
                                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                                                  <div class="container-icono"> 
                                        <p class="text-center text-warning">En revision                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:rgba(255, 208, 0, 0.959)" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                          </svg></p>
                                        </div></p>

                                        <p class="text-center fixed-center" style="font-size:medium"><label for="banner">  </label>
                                            <div class=" fixed-center input-group">
                                                <label class=" fixed-center input-group-btn">
                                                    <span class="fixed-center container-fluid btn btn-light btn-file" >
                                                   Agregue su Acta de nacimiento de click en examinar:<input accept=".jpg,.png,.jpeg,.gif" class="hidden fixed-center" name="banner" type="file" id="ActaN_Personal">
                                                    </span>
                                                </label></p>  
                                                <p> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                        <div class="container-icono"> 
                                                  <p class="text-center text-success">Aprobado                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:rgba(14, 77, 1, 0.993)"  class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                  </svg></p>
                                                  </div></p> 

                                                  <p class="text-center fixed-center" style="font-size:medium"><label for="banner">  </label>
                                                    <div class=" fixed-center input-group">
                                                        <label class=" fixed-center input-group-btn">
                                                            <span class="fixed-center container-fluid btn btn-light btn-file" >
                                                           Agregue su Acta de matrimonio de click en examinar:<input accept=".jpg,.png,.jpeg,.gif" class="hidden fixed-center" name="banner" type="file" id="ActaM_Personal">
                                                            </span>
                                                        </label></p>  
                                                        <p>   &nbsp;&nbsp;                      <div class="container-icono"> 
                                                          <p class="text-center text-danger">No Aprobado  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:rgba(253, 6, 6, 0.993)" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                                          </svg></p>
                                                          </div></p> 


                                                          <p class="text-center fixed-center" style="font-size:medium"><label for="banner">  </label>
                                                            <div class=" fixed-center input-group">
                                                                <label class=" fixed-center input-group-btn">
                                                                    <span class="fixed-center container-fluid btn btn-light btn-file" >
                                                                   Agregue su Estado de Cuenta de click en examinar:<input accept=".jpg,.png,.jpeg,.gif" class="hidden fixed-center" name="banner" type="file" id="EC_Personal">
                                                                    </span>
                                                                </label></p>  
                                                                <p>   &nbsp;&nbsp; &nbsp;                     <div class="container-icono"> 
                                                                  <p class="text-center text-danger">No Aprobado  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:rgba(253, 6, 6, 0.993)" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                                                  </svg></p>
                                                                  </div></p> 
                                    </div>
          

                      
               
            </div>

            <div class="container-fluid">
            
             
            </div>



 
     
                <br>
                <br>
                <br>
           
        </div>
            
        </div>
    </div>
        <br>
        <br>
        <br>


        <div class="container-fluid col-12 col-m-6 col-lg-10 bg-light border p-3"> 
            <div class="row fixed-center">
              
                    <h5 class="text-center">EXPEDIENTE PROPIEDAD </h5>
                    <div class="row fixed-center">
                        <p class="text-center"> </p>
                    </div>
                    <div class="row fixed-center">
                        <p class="text-center"> </p>
                    </div>
                    <div class="row fixed-center">
                        <p class="text-center"></p>
                    </div>
                    <div class="row fixed-center">
                        <p class="text-center text-muted"> Estado:  No iniciado</p>
                    </div>
            </div>
        </div>
     
     
        <br>
        <br>
        <br>
       
     
        <div class="container-fluid col-12 col-m-6 col-lg-10 bg-light border p-3"> 
            <div class="row fixed-center">
                <div class="row fixed-center">
                    <h5 class="text-center">EXPEDIENTE COPROPIETARIO </h5>
                    <br>
                    <br>
                </div>
                <div class="row fixed-center">
                    <p class="text-center"> </p>
                </div>
                <div class="row fixed-center">
                    <p class="text-center"> </p>
                </div>
                <div class="row fixed-center">
                    <p class="text-center"></p>
                </div>
                <div class="row fixed-center">
                    <p class="text-center text-muted"> Estado:  No iniciado</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
     
        

        
    </div>