
<body class="bg-light">
<form action="/inicio" method="POST">
        <div class="container">
        <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/usuario.png" alt="" width="72" height="57">
            <h2>Perfil Datos</h2>
            <p class="lead">Ingrese sus datos para la creación de su perfil</p>
        </div>

        <div class="row g-5">
            <div class="col-md-4 col-lg-2 text-center">
            </div>
            <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Cuenta</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-4">
                <div class="col-sm-4">
                    <label for="Name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="Name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                    Se requiere nombre 
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="primer_apellido" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" id="primer_apellido" placeholder="" value="" required>
                    <div class="invalid-feedback">
                    Se requiere Apellido
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="segundo_apellido" class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" id="segundo_apellido" placeholder="" value="" required>
                    <div class="invalid-feedback">
                    Se requiere Apellido
                    </div>
                </div>

                <div class="col-12">
                    <label for="id_cliente" class="form-label">Nombre de usuario</label>
                    <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="id_cliente" placeholder="usuario" required>
                    <div class="invalid-feedback">
                        Nombre de usuario requerido
                    </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="mail" class="form-label">Correo</label>
                    <input type="mail" class="form-control" id="mail" placeholder="you@outlook.com">
                    <div class="invalid-feedback">
                    Por favor ingresa un correo válido.
                    </div>
                </div>

                <div class="col-12">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="1234 Colonia" required>
                    <div class="invalid-feedback">
                    Por favor ingresa una dirección
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="ocupacion" class="form-label">Ocupacion</label>
                    <select class="form-select" id="ocupacion" required>
                    <option value="">Selecciona...</option>
                    <option>México</option>
                    </select>
                    <div class="invalid-feedback">
                    Por favor selecciona un país.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="estado_civil" class="form-label">Estado</label>
                    <select class="form-select" id="estado_civil" required>
                    <option value="">Selecciona...</option>
                    <option>Querétaro</option>
                    </select>
                    <div class="invalid-feedback">
                    Porfavor ingresa un estado válido.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip" class="form-label">Código Postal</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                    Código postal es requerido.
                    </div>
                </div>
                </div>
                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit" id="enviar" values="Registrar">Continue to checkout</button>         
            </div>
        </form>
    </body>

