<div class="container">
    <main>
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/images/usuario.png" alt="" width="72" height="57">
        <h2>Perfil Datos</h2>
        <p class="lead">Ingrese sus datos para la creación de su perfil</p>
    </div>

    <div class="row g-5">
        <div class="col-md-4 col-lg-2 text-center">
        </div>
        <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Cuenta</h4>
        <form class="needs-validation" novalidate>
            <div class="row g-3">
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                Se requiere nombre 
                </div>
            </div>

            <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                Se requiere Apellido
                </div>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Nombre de usuario</label>
                <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="usuario" required>
                <div class="invalid-feedback">
                    Nombre de usuario requerido
                </div>
                </div>
            </div>

            <div class="col-12">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                Por favor ingresa un correo válido.
                </div>
            </div>

            <div class="col-12">
                <label for="address" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                Por favor ingresa una dirección
                </div>
            </div>
            <div class="col-md-5">
                <label for="country" class="form-label">País</label>
                <select class="form-select" id="country" required>
                <option value="">Selecciona...</option>
                <option>México</option>
                </select>
                <div class="invalid-feedback">
                Por favor selecciona un país.
                </div>
            </div>

            <div class="col-md-4">
                <label for="state" class="form-label">Estado</label>
                <select class="form-select" id="state" required>
                <option value="">Selecciona...</option>
                <option>Querétaro</option>
                </select>
                <div class="invalid-feedback">
                Porfavor ingresa un estado válido.
                </div>
            </div>

            <div class="col-md-3">
                <label for="zip" class="form-label">Código Postal</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                Código postal es requerido.
                </div>
            </div>
            </div>